
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Bienes y Equipo de Cómputo</title>
</head>
<body style="font-family: sans-serif; margin: 0; padding: 0;">
    <div style="margin: 20px;">
        <div style="display: flex; justify-content: space-between;">
            <img src="../../../public/img/header.png" style="width: 50%; object-fit: contain; flex: 2;" alt="">
            <div style="text-align: right; font-size: 9px; line-height: 9px">
                <p>Administracion General de Recursos y Servicios</p>
                <p>Administración Central de Operación de Recursos y Servicios</p>
                <p>Administración de Operación de Recursos y Servicios “4”</p>
                <p>Subadministración de Recursos y Servicios en Veracruz</p>
                <p>Departamento de Bienes y Servicios</p>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-bottom: 15px;">
        <h2 style="font-size: 1.5rem; font-weight: bold; color: #4a5568;">REGISTRO DE ENTRADA</h2>
    </div>

    <form style="background-color: #ffffff; padding: 24px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); max-width: 960px; margin: 0 auto;">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px;">
            <div>
                <label style="display: block; font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase; margin-bottom: 16px;">Fecha:</label>
                <label style="display: block; font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase;">Nombre:</label>
            </div>

            <div>
                <p style="font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase; margin-bottom: 16px;">Administración: ADSC DE VERACRUZ 1</p>
                <p style="font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase;">Área: SERVICIOS AL CONTRIBUYENTE</p>
            </div>
        </div>

        <div>
            <label style="display: block; font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase;">Observaciones:</label>
            <textarea rows="3" style="margin-top: 4px; width: 100%; border: 1px solid #d2d6dc; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); padding: 8px; resize: none;"></textarea>
        </div>

        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px; margin: 20px 0;">
            <div>
                <label style="display: block; font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase;">Hora Entrada:</label>
            </div>
            <div>
                <label style="display: block; font-size: 0.875rem; font-weight: 500; color: #4a5568; text-transform: uppercase;">Hora Salida:</label>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; margin-top: 40px;">
            <div>
                <label>_________________________</label>
                <label style="font-size: 13px; text-align: center; font-weight: 500; color: #4a5568; text-transform: uppercase; display: block;">Firma del portador al ingresar</label>
            </div>
            <div>
                <label>_________________________</label>
                <label style="font-size: 13px; text-align: center; font-weight: 500; color: #4a5568; text-transform: uppercase; display: block;">Firma del portador al salir</label>
            </div>
            <div>
                <label>_________________________</label>
                <label style="font-size: 13px; text-align: center; font-weight: 500; color: #4a5568; text-transform: uppercase; display: block;">Nombre y firma de revisión guardia de seguridad (Ingreso)</label>
            </div>
            <div>
                <label>_________________________</label>
                <label style="font-size: 13px; text-align: center; font-weight: 500; color: #4a5568; text-transform: uppercase; display: block;">Nombre y firma de revisión guardia de seguridad (Salida)</label>
            </div>
        </div>
    </form>
</body>
</html>
